header{
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    z-index: 999;
}
logo{
     text-decoration: none;
     color:blue ;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 1.8cm;
     
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601cfc;
}

.section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:url(Image20240823201708.png)no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main h2 span{
    display:  inline-block;
    margin-top: 10px;
    color:blue ;
    font: size 3em; ;
    font-weight: 600;
}
#grad {
    background-image: linear-gradient(to right, red , yellow);
  }
